#hero{
    background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9)), url("https://imgyukle.com/f/2022/01/29/o3fH51.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero .container{
    height: 50vh;
}

.generic{
    padding: 100px;
}

.text-teal{
    color: #20C997;
}
